<template>
<var name="abcd4444" value="*{tool.sub(1,*{abcdeeeee}*)}*"/>
<var name="abcd4444gg" value="*{tool.sub(1,*{abcdeeeee}*)}*"/>
<prefix>
    private String abcd;
    <if v-if="test=='ab'">
        ab
        <if v-if="test2=='ab'">
        *{abcd4444}*
        *{abcd4444gg}*
        test2ab
        </if>
    </if>
<foreach v-for="column in tableInfo2.columnList">
     这是上层循环*{column.name}*
</foreach>
<foreach v-for="column in tableInfo2.columnList">
     *{abcd4444}*
     *{abcd4444gg}*
     *{tool.firstLower(*{abcd4444ggdd}*)}*
     这是上层循环*{column.name}*
     <foreach v-for="list in column.list">
        这是内层循环 *{list.testa}* *{list.testb}*
     </foreach>
</foreach>
</prefix>
<function name="delete">
    /**
     * 删除*{tableInfo2.tableComment}* 根据其id数组
     *
     * @param idS *{tableInfo2.tableComment}*id数组
     * @return 返回是否成功
     */
    @Override
    @Transactional(rollbackFor = Throwable.class)
    public boolean delete*{tableInfo2.domainName}*(String idS) {
        if (Strings.isNotBlank(idS)) {
            List&lt;String&gt; idArray = Arrays.stream(idS.split(",")).filter(Strings::isNotBlank).distinct().collect(Collectors.toList());
            return *{tool.firstLower(*{tableInfo2.domainName}*)}*Dao.delete*{tableInfo2.domainName}*(idArray) == idArray.size();
        }
        return false;
    }
    *{abcd4444}*
    *{abcd4444gg}*
</function>
</template>